<h1><%= @person.first_name %></h1>
<h1><%= @person.last_name %></h1>
<h2><%= @person.age %></h2>
<h3><%= @person.hair_color %></h3>
<h3><%= @person.eye_color %></h3>
<h3><%= @person.gender %></h3>
<h4><%= @person.alive %></h4>

<%= link_to 'Back', person_path %>
